/* ------------------------------ */
/*           Basic reset          */
/* ------------------------------ */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------ */
/*           Main layout          */
/* ------------------------------ */
.overlay {
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.overlay.is-active {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "menu"
        "content"
        "footer";
    /* align-items: start; */
    /* grid-template-columns: 300px 1fr; */
    /* grid-template-areas:
        "header header"
        "menu content"
        "menu footer" */
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dashboard {
    grid-area: content;
    position: relative;
    top: calc(20px + 1.3rem);
}

.menu {
    grid-area: menu;
    display: none;
    position: fixed;
    top: calc(20px + 1.4rem);
    transform: translateX(-100%);
    height: 100vh;
    width: 85%;
    z-index: 2;
}

.menu.show {
    display: block;
    transform: translateX(0%);
    transition: all 0.3s ease-in;
}

.footer {
    grid-area: footer;
    position: relative;
}